<h1>Payroll Dashboard</h1>
<%= render partial: "layouts/notifications" %>

<h2>Upload Time Reports</h2>
<div class="wrapper">
  <div class="csv-form">
    <%= form_with(url: "/time_reports", method: "post", multipart: true) do |f| %>
      <div class="field">
        <%= f.fields_for :time_report do |ff| %>
          <%= ff.file_field :csv_file, required: true%>
        <% end %>
        <%= submit_tag("Upload") %>
      </div>
    <% end %>
  </div>
</div>

<h2>View Payroll Reports</h2>
<div class="wrapper">
  <% if @report.any? %>
    <table class="payroll-report-table">
      <th>Employee Id</th>
      <th>Pay Period</th>
      <th>Amount Paid</th>
      <% report_table_contents(@report).each do |row| %>
        <tr>
          <td class="employee-id"><%= row[:employee_id] %></td>
          <td class="payment-period"><%= row[:payment_period] %></td>
          <td class="amount-paid">$<%= row[:amount_paid] %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>
      It looks like you don't have any payroll reports.<br/>Please upload a time report using the form above.
    </p>
  <% end %>
</div>
